@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
.story {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 88%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.Main{
  padding-top: 3em;
    position: relative;
    left: 30%;
    padding-left: 1em;
    top: 50% !important;
}
.story img {
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.story svg {
  fill: none;
  stroke: #8a3ab8;
  stroke-width: 5px;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loading 4500ms ease-in-out infinite alternate;
}
p{
  position: absolute;
  left: 20%;
}

.box{
  position: absolute;
  top: 18%;
  left: 10%;
  margin-right: 10em !important;
}
.image{
  position: absolute;
  top: 500%;
}
/* .Content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 40%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.Content img {
  width: 30px;
  border-radius: 70%;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.Content svg {
  fill: none;
  stroke: #8a3ab8;
  stroke-width: 5 px;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loading 4500ms ease-in-out infinite alternate;
} */
.StoryContainer{
    left: 20em !important;
}
.Recomendation {

  position: relative;
  transform: translate(-50%, -50%);
  top: 25%;
  left: 78%; 
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.Recomendation img {
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Recomendation svg {
  fill: none;
  stroke: #8a3ab8;
  stroke-width: 5px;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: loading 4500ms ease-in-out infinite alternate;
}
@keyframes loading {
  100% {
    stroke: #cd476b;
    stroke-dasharray: 10;
    transform: rotate(250deg);
  }
}
