@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.Main{
  padding-top: 3em;
    position: relative;
    left: 20%;
    padding-left: 1em;
    top: 50% !important;
}
.linkBox{
  display: inline !important;
}

.HeaderImage{
 position: relative;
  left: 1em;
  top: -0.5em;
}
.ui.card{
  width: 600px !important;
}
.Storyimg{
  padding: 0 !important;

  height: 3em;
  width: 3em;
  border: 3px dashed #f05454;
  border-radius: 2em;
  
}
.ContentImage{
  position: relative;
   left: -47%;
   top: 0em;
 }
 .ContentImage img{
   padding: 0 !important;
   top: 40em !important;
   height: 3em;
   width: 3em;
   border: 3px dashed #f05454;
   border-radius: 2em;
   
 }